{% extends "base.html" %}
{% load  static %}

{% block content %}
{%include 'includes/navbar.html'%}


<div class="container welcome">

    <h2>Witaj {{request.user.first_name}} {{request.user.last_name}}!</h2>
    <h5>({{request.user.position}})</h5>
    <div class="mt-4">
        <h1>{%if onedayleft%}Został Ci{%else%}Zostało Ci{%endif%}
            <span style="font-weight: bold; color:green;  margin: 0 10px;">{{request.user.current_leave}} </span>
            {%if part%}godzin urlopu{%else%}{%if onedayleft%}dzień{%else%}dni{%endif%}
            urlopu{%endif%}<span class="palm">🌴</span> </h1>
    </div>

    {% if show_director %}
    <div class="index-btns mt-5">
        <a href="{%url 'users_app:all-employees'%}" role="button" class="btn btn-success mr-1">Lista pracowników</a>
        <a href="{%url 'sickleaves_app:sickleaves'%}" role="button" class="btn btn-danger">Zwolnienia lekarskie</a>
    </div>
    {% else %}
    <div class="index-btns mt-5">
        <a href="{% url 'requests_app:user_requests'%}" role="button" class="btn btn-secondary mr-1">Twoje wnioski</a>
        {%if show_manager %}
        <a href="{% url 'requests_app:allrequests'%}" role="button" class="btn btn-warning mr-1">Zaopiniuj wnioski</a>
        {% endif %}
        <a href="{% url 'requests_app:request'%}" role="button" class="btn btn-success">Złóż wniosek</a>
    </div>
    {% endif %}
    <a class="text-dark" href="{% url 'home_app:documents'%}">
        <div class="documents-link position-absolute mt-3">
            <img class="doc-img" src="{%static 'img/doc-img.png'%}" alt="segregatory z dokumentami">
            <p style="font-size: 0.6em;">Niezbędnik</p>
        </div>
    </a>
</div>
{% endblock content %}