{% extends "base.html" %}
{% load static %}
{% block content %}
{% include 'includes/navbar.html'%}
{% load crispy_forms_tags %}

<section class="pagesection my-5">
    <div class="container">
        <h1 class="page-heading mb-5">Zestawienie dni wolnych, urlopów wypoczynkowych, zwolnień lekarskich</h1>
        <form method="POST">{%csrf_token%}
            <div class="form-group">
                {{form.person|as_crispy_field}}
            </div>
            <div class="form-group">
                {{form.leave_type|as_crispy_field}}
            </div>
            <div class="form-group">
                <div class="row mb-2">
                    <div class="col-lg-6">
                        {{form.start_date|as_crispy_field}}
                    </div>
                    <div class="col-lg-6">
                        {{form.end_date|as_crispy_field}}
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-lg-3 col-md-5 col-sm-6 ml-2">
                        {{form.attachment|as_crispy_field}}
                    </div>
                    <div>
                        <button class="btn btn-info mt-2 ml-3" type="submit">Generuj raport PDF</button>
                    </div>
                </div>
        </form>
    </div>
</section>
{% endblock content%}