venv
desktop.ini
.vscode
.idea
__pycache__

/secret.json
/wnioski.log

/applications/users/migrations/*
/applications/requests/migrations/*
/applications/sickleaves/migrations/*
/applications/home/migrations/*

/media/*

/data.json
