.env
venv
venv2026
desktop.ini
.vscode
.idea
__pycache__

requirements2.txt

.flake8

/raporty.xml
/secret.json
/wnioski.log
/ezlaraporty.log
/backups

/applications/users/migrations/*
/applications/requests/migrations/*
/applications/sickleaves/migrations/*
/applications/sickleaves/raporty.xml
/applications/home/migrations/*

/media/*
staticfiles/
extracted_files/

/data.json
/data2.json

