{% load static %}
{% load custom_tags %}
<nav class="navbar fixed-top navbar-expand-lg navbar-dark w-100 ">
    <div class="container-fluid mx-auto navbar-wrapper">
        <a href="{%url 'home_app:index'%}" class="navbar-brand ml-1" id="nav_urlop"><img src="{%static 'img/mbp_logo5.png'%}" class="logo-img d-inline-block align-center" alt="logo MBP w Opolu"></a>
        <button class="navbar-toggler position-relative" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            {% if request.user.role != "P" and requests_list != 0 and requests_list != "" %}
            <span class="nav-notification"></span>
            {% endif %}
        </button>
        <div class="burger collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                {%if request.user.role != 'S'%}
                <li class="nav-item">
                    <a class="nav-link link-hide w-100 text-lg-center text-left" href="{% url 'requests_app:request'%}">Złóż wniosek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-hide w-100 text-lg-center text-left" href="{%url 'requests_app:user_requests'%}">Twoje wnioski</a>
                </li>
                {%endif%}
                {%if request.user.role != 'P'%}
                <li class="nav-item">
                    <a class="nav-link w-100 text-lg-center text-left" href="{% url 'requests_app:allrequests'%}">Wnioski <span>pracowników<span style='color:orange;'>{{requests_list}}</span></span>
              </a>
                </li>
                {%endif%}
                {% if request.user.role == "S" %}
                <li class="nav-item">
                    <a class="nav-link link-hide w-100 text-lg-center text-left" href="{%url 'users_app:all-employees'%}">Lista pracowników</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-hide w-100 text-lg-center text-left" href="{%url 'sickleaves_app:sickleaves'%}">Zwolnienia lekarskie</a>
                </li>
                {% endif %}
                {%if request.user.is_staff%}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle  w-100 text-lg-center text-left" href="#" id="navbardrop2" data-toggle="dropdown">
                Admin</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item link-hide" href="{%url 'users_app:admin-all-employees'%}">Pracownicy: dodaj/zmień</a>
                        <a class="dropdown-item link-hide" href="{%url 'requests_app:hrallrequests'%}">Wnioski KADRY</a>
                        <a class="dropdown-item link-hide" href="{%url 'home_app:report'%}">Generuj raport</a>
                        <a class="dropdown-item link-hide" href="{%url 'users_app:all-employees'%}">Lista dyrektora</a>
                        <a class="dropdown-item link-hide" href="{%url 'sickleaves_app:sickleaves'%}">Zwolnienia lekarskie</a>
                    </div>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a class="nav-link link-hide w-100 text-lg-center text-left" href="{%url 'users_app:user-update'%}">Zmień hasło</a>
                </li>
                {%if request.user.is_authenticated%}
                <li class="nav-item">
                    <a class="nav-link link-hide  w-100 text-lg-center text-left" href="{%url 'users_app:user-logout'%}">Wyloguj się</a>
                </li>
                <li class="nav-item">
                    <button class="nav-link link-hide bg-transparent border-0" data-toggle="modal"
                        data-target="#settingsModal">
                        <svg style="height:2rem; width:2rem;">
                            <use href="{% static 'img/svg/sprite.svg#gear' %}"></use>
                        </svg><span class="sr-only">Ustawienia powiadomień</span>
                    </button>
                </li>

                {%endif%}
            </ul>
        </div>
    </div>
</nav>

<!-- Settings modal -->
<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title" id="modalLabel">Ustawienia</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn__wrapper"></div>
                <p>Powiadomienia o składanych i otrzymywanych wnioskach urlopowych</p>
                <button class="Toggle sub-btn" type="button" aria-pressed="false" id="webpush-subscribe-btn"
                    data-url="/webpush/save_information">
                    <span class="btn-text">Włącz</span>
                    <span class="Toggle__display">
                        <svg class="Toggle__icon Toggle__icon--checkmark"><use href="{% static 'img/svg/sprite.svg' %}#checkmark"></use></svg>
                        <svg class="Toggle__icon Toggle__icon--cross"><use href="{% static 'img/svg/sprite.svg' %}#cross"></use></svg>
                    </span>
                </button>
                <div class="webpush-msgbox mt-2 mb-4">
                    <p id="webpush-message" class="webpush-message"></p>
                </div>
            </div>
        </div>
    </div>
</div>