{% load filter_tags %}
{% if is_paginated %}
<nav aria-label="Paginacja" class="my-4">
    <ul class="pagination justify-content-center">
            {% if page_obj2.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark" href="?{% param_replace page2=page_obj2.previous_page_number %}">Poprzednia</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Poprzednia</a>
            </li>
            {% endif %}
        {% if page_obj2.has_previous %}
        <li class="page-item"><a class="page-link text-dark" href="?{% param_replace page2=page_obj2.previous_page_number %}">{{page_obj2.previous_page_number}}</a></li>
        {% endif %}
        <li class="page-item active" aria-current="page">
            <span class="page-link bg-secondary" style="border-color: #6c757d;">{{page_obj2.number}}</span>
        </li>
        {% if page_obj2.has_next %}
        <li class="page-item"><a class="page-link text-dark" href="?{% param_replace page2=page_obj2.next_page_number %}">{{page_obj2.next_page_number}}</a></li>
        {% endif %}

        {% if page_obj2.has_next %}
        <li class="page-item">
            <a class="page-link text-dark" href="?{% param_replace page2=page_obj2.next_page_number %}">Następna</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Następna</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}