{% extends "base.html" %}
{% load  static crispy_forms_tags %}
{% block title %}- dodaj zwolnienie{% endblock title %}
{% block content %}
{%include 'includes/navbar.html'%}

<div class="container mt-5">
    <h1 class="page-heading">Dodaj zwolnienie lekarskie</h1>
    <p>Jeżeli okres zwolnienia lekarskiego pokrywa się z okresem urlopu wypoczynkowego,
        proszę skorygować bieżący urlop pracownika (panel admin).</p>
    <form method="POST">{% csrf_token %}
        <div class="row">
            <div class="col-lg-6">
                {{ form.employee|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.leave_type|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form.issue_date|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.doc_number|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form.start_date|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.end_date|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form.additional_info|as_crispy_field}}
            </div>
        </div>
        <div class="row">
            <div class="col">
            </div>
        </div>
        <div>
            <p>Wyślij powiadomienie o nowym zwolnieniu do:</p>
            <div class="form-check form-check-inline">
                {{form.head|as_crispy_field}}
            </div>
            <div class="form-check form-check-inline">
                {{form.manager|as_crispy_field}}
            </div>
            <div class="form-check form-check-inline">
                {{form.instructor|as_crispy_field}}
            </div>
        </div>
        <div class="form-group mt-4">
            <button class="btn btn-info" type="submit">Dodaj zwolnienie</button>
        </div>
    </form>
</div>
{% endblock content %}