{% extends "base.html" %}
{% load  static %}
{% load crispy_forms_tags %}
{% block content %}
{%include 'includes/navbar.html'%}

<div class="container">
    {% for message in messages %}
    <div class="alert {{ message.tags }} m-5" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
</div>
<section class="page-section mt-5 flex-column">
            <h3 class="table-title mb-4">Zwolnienia lekarskie</h3>
            <div class="d-flex justify-content-center align-items-center flex-wrap w-100 mt-4 mb-2 py-1" style="background-color: #efefef;">
                <form class="form-search filter-year-form d-flex justify-content-center align-items-center" method="get" >{%csrf_token%}
                    <div class="input-search search-box mx-1">
                        <label class="sr-only" for="other_fields">{{ filterset.form.other_fields.label }}</label>
                        {{ filterset.form.other_fields }}
                    </div>
                    <div class="input-box search-box">
                        <label class="sr-only" for="other_fields">{{ filterset.form.issue_year.label }}</label>
                        {{ filterset.form.issue_year }}
                    </div>
                    <button class="btn ml-1 mr-2 my-1 btn-secondary" type="submit">Szukaj</button>
                </form>
                <a href="{%url 'sickleaves_app:add-sickleave'%}" role="button" class="btn mx-2 my-1 btn-warning"><span class="add-btn">+</span> Dodaj zwolnienie</a>
            </div>
        <div class="table-wrapper px-2" style="overflow-x: auto; max-width: 98vw; ">
        <table class="no-js-serial" id="present">
            <thead>
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Nazwisko i imię</th>
                    <th scope="col" class="content-center">Numer dokumentu</th>
                    <th scope="col" class="content-center">Data wystawienia</th>
                    <th scope="col" class="content-center">Rodzaj<span class="text-danger">*</span></th>
                    <th scope="col" class="content-center">Od</th>
                    <th scope="col" class="content-center">Do</th>
                    <th scope="col" class="content-center">Inne</th>
                    <th scope="col" class="content-center"></th>
                </tr>
            </thead>
            <tbody id="myTable1">
                {% for sickleave in sickleaves %}
                <tr>
                    <td data-title="Lp.">{{ forloop.counter0|add:page_obj.start_index }}.</td>
                    <td data-title="Nazwisko i imię:">{{ sickleave.employee.last_name}}
                        {{ sickleave.employee.first_name}} </td>
                    <td data-title="Numer dokumentu:" class="content-center">{% if sickleave.doc_number %}{{ sickleave.doc_number }} {% endif %}</td>
                    <td data-title="Data wystawienia:" class="content-center">{{ sickleave.issue_date|date:"d.m.y"}}
                    </td>
                    <td data-title="Rodzaj:" class="content-center">{{ sickleave.leave_type }}</td>
                    <td data-title="Od:" class="content-center">{{ sickleave.start_date|date:"d.m.y" }}</td>
                    <td data-title="Do:" class="content-center">{{ sickleave.end_date|date:"d.m.y" }}</td>
                    <td data-title="Inne:" class="content-center"> {% if sickleave.additional_info %} {{ sickleave.additional_info }}{% endif %}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{%url 'sickleaves_app:update_sickleave' sickleave.id%}" role="button" class="btn btn-sm btn-info" >Popraw</a>
                            <button type="button" class="btn btn-sm btn-light" data-toggle="modal"
                                data-target="#deleteModal{{sickleave.id}}">
                                Usuń
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{sickleave.id}}" tabindex="-1"
                                aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Ostrzeżenie</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Czy na pewno chcesz usunąć zwolnienie lekarskie?
                                                <br>{{sickleave.employee.first_name}} {{sickleave.employee.last_name}}
                                                od {{sickleave.start_date|date:"d.m.y"}} do
                                                {{sickleave.end_date|date:"d.m.y"}}?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-dismiss="modal">Wróć</button>
                                            <form method="POST"
                                                action="{% url 'sickleaves_app:delete_sickleave' sickleave.id %}">
                                                {%csrf_token%}
                                                <button type="submit" class="btn btn-info">Tak, usuń</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
        <p class="px-1"><span class="text-danger">*</span> C - chorobowe, O - opieka, K -kwarantanna, I - izolacja</p>
{%include 'includes/pagination.html'%}
</section>
{% endblock content %}
{% block extra_js %}
<script>
    const dropdown = document.getElementById("id_issue_year");
    dropdown.addEventListener("change", function() {
    document.querySelector(".filter-year-form").submit();
    });
</script>
{% endblock extra_js %}