{% extends "base.html" %}
{% load  static %}

{% block content %}
{% include 'includes/navbar.html'%}
{% load crispy_forms_tags %}

<div class="container mt-5">
    <h1 class="page-heading mb-5">Popraw zwolnienie lekarskie</h1>
    <form method="POST">{% csrf_token%}
        <div class="row">
            <div class="col-lg-6">
                {{ form.employee|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.leave_type|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form.issue_date|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.doc_number|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {{ form.start_date|as_crispy_field }}
            </div>
            <div class="col-lg-6">
                {{ form.end_date|as_crispy_field }}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {{form.additional_info|as_crispy_field}}
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-secondary" type = "submit">Popraw</button>
        </div>
    </form>
</div>
{% endblock content %}