{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include 'includes/head-icons.html' %}
        <title>Pracownik MBP</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body class="bg-[#545460] font-['Signika_Negative',sans-serif]">

        {% block content %}
        {% endblock content %}
</body>

</html>