{% load static i18n %}
<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% include 'includes/head-icons.html' %}
        <script defer src="{% static 'js/htmx.min.js' %}"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.0/dist/cdn.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <script src="{% url 'javascript-catalog' %}"></script>
        <script src="{% static 'js/app.js' %}" type="module"></script>
        <title>Pracownik MBP {% block title %}{% endblock title %}</title>
        {% block css %}{% endblock css %}
    </head>

    <body class="font-['Signika_Negative',sans-serif] scroll-smooth">
        <a class="skip-link" href="#main-content">Przejdź do głównej treści</a>
        <div id="main-content" class="w-full min-w-0">
            {% block content %}{% endblock content %}
        </div>
        {% include 'includes/footer.html' %}
        <script src="{% static 'constrainedfilefield/js/file_checker.js' %}"></script>
        <script src="{% static 'js/settings-form.js' %}"></script>
        <script src="{% static 'js/dialogs.js' %}"></script>
        <script src="{% static 'js/skip-link.js' %}"></script>
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
