{% extends "base.html" %}
{% load  static %}

{% block content %}
{% include 'includes/navbar.html' %}

<section class="page-section mt-5">
    <div>
        <h3 class="mb3">Lista pracowników
            <a href="{%url 'users_app:user-register'%}" role="button" class="btn ml-3 btn-sm btn-success">Dodaj pracownika</a>
            <a href="{%url 'sickleaves_app:add-sickleave'%}" role="button" class="btn ml-3 btn-sm btn-info">Dodaj zwolnienie lekarskie</a>
        </h3>
        <table class="js-serial">
            <thead>
                <tr>
                    <th scope="col">Nazwisko i imię</th>
                    <th scope="col">Stanowisko</th>
                    <th scope="col" class="content-center">K*</th>
                    <th scope="col" class="content-center ml-1 mr-1">Urlop</th>
                    <th scope="col" class="content-center">NŻ*</th>
                    <th scope="col" class="content-center">WU*</th>
                    <th scope="col" class="content-center">Etat</th>
                    <th scope="col" class="content-center">Miejsce pracy</th>
                    <th scope="col" class="content-center">Umowa do:</th>
                    <th scope="col" class="content-center">Uwagi</th>
                    <th scope="col" class="content-center">Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td data-title="Nazwisko i imię:">{{ employee.last_name}} {{employee.first_name}}</td>
                    <td data-title="Stanowisko:">{{ employee.position|truncatechars:30 }}</td>
                    <td data-title="Kierownik:" class="content-center">{{ employee.is_manager }}</td>
                    <td data-title="Urlop:" class="content-center">{{ employee.current_leave }}</td>
                    <td data-title="NŻ:" class="content-center">{{ employee.duvet_days_count }}</td>
                    <td data-title="Urlop:" class="content-center">{{ employee.annual_leave }}</td>
                    <td data-title="Etat:" class="content-center">{{ employee.working_hours }}</td>
                    <td data-title="Miejsce pracy:" class="content-center">{{ employee.workplace }}</td>
                    <td data-title="Umowa do:" class="content-center">{{ employee.contract_end|date:"d.m.y"}}</td>
                    <td data-title="Uwagi:" class="content-center">{{ employee.additional_info|truncatechars:10 }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{%url 'users_app:update_employee' employee.id%}" class="btn btn-sm btn-light" type="submit">Edytuj</a>
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                data-target="#deleteModal{{employee.id}}">Usuń</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{employee.id}}" tabindex="-1"
                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ostrzeżenie</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Czy na pewno chcesz usunąć pracownika? <br>{{employee.first_name}}
                                            {{employee.last_name}} <br> UWAGA! Zostaną usunięte z bazy również jego
                                            wszystkie
                                            wnioski oraz zwolnienia lekarskie. <br> Możliwe alternatywne rozwiązanie:
                                            zmiana wartości ustawienia "Obecnie zatrudniony" w Edytuj. </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Wróć</button>
                                        <form method="POST" action="{% url 'users_app:delete_employee' employee.id %}">
                                            {%csrf_token%}
                                            <button type="submit" class="btn btn-info">Tak, usuń</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p>*K - Kierownik placówki/działu (poza jednoosobowymi), *NŻ - liczba wykorzystanych dni urlopu na żądanie, *WU - roczny wymiar urlopu</p>
        <div>
            <button type="button" class="btn btn-light btn-sm" data-toggle="modal"
                data-target="#addModal">Dodaj wszystkim pracownikom roczny wymiar przysługującego urlopu do bieżącej puli urlopowej</button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1"
            aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ostrzeżenie</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz dodać wszystkim pracownikom do bieżącej puli urlopowej liczbę dni/godzin rocznego przysługującego wymiaru urlopu?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Wróć</button>
                        <form method="POST" action="{% url 'users_app:add_annual_leave' %}">
                            {%csrf_token%}
                            <button type="submit" class="btn btn-info">Tak, dodaj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section mt-5">
    <div>
        <h3 class="mb3">Lista byłych pracowników</h3>
        <table class="js-serial">
            <thead>
                <tr>
                    <th scope="col">Nazwisko i imię</th>
                    <th scope="col">Stanowisko</th>
                    <th scope="col" class="content-center ml-1 mr-1">Urlop</th>
                    <th scope="col" class="content-center">Etat</th>
                    <th scope="col" class="content-center">Miejsce pracy</th>
                    <th scope="col" class="content-center">Umowa do:</th>
                    <th scope="col" class="content-center">Uwagi</th>
                    <th scope="col" class="content-center">Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for exemployee in exemployees %}
                <tr>
                    <td data-title="Nazwisko i imię:">{{ exemployee.last_name}} {{exemployee.first_name}}</td>
                    <td data-title="Stanowisko:">{{ exemployee.position|truncatechars:30 }}</td>
                    <td data-title="Urlop:" class="content-center">{{ exemployee.current_leave }}</td>
                    <td data-title="Etat:" class="content-center">{{ exemployee.working_hours }}</td>
                    <td data-title="Miejsce pracy:" class="content-center">{{ exemployee.workplace }}</td>
                    <td data-title="Umowa do:" class="content-center">{{ exemployee.contract_end|date:"d.m.y"}}</td>
                    <td data-title="Uwagi:" class="content-center">{{ exemployee.additional_info|truncatechars:30 }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{%url 'users_app:update_employee' exemployee.id%}" class="btn btn-sm btn-light" type="submit">Edytuj</a>
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                data-target="#deleteModal{{exemployee.id}}">Usuń</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{exemployee.id}}" tabindex="-1"
                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ostrzeżenie</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Czy na pewno chcesz usunąć pracownika? <br>{{exemployee.first_name}}
                                            {{exemployee.last_name}} <br> UWAGA! Zostaną usunięte z bazy również jego
                                            wszystkie
                                            wnioski oraz zwolnienia lekarskie. <br> Możliwe alternatywne rozwiązanie:
                                            zmiana wartości ustawienia "Obecnie zatrudniony" w Edytuj. </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Wróć</button>
                                        <form method="POST" action="{% url 'users_app:delete_employee' exemployee.id %}">
                                            {%csrf_token%}
                                            <button type="submit" class="btn btn-info">Tak, usuń</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</section>

{% endblock content %}