{% extends "base.html" %}
{% load  static %}

{% block content %}
{% include 'includes/navbar.html' %}
<section class="pagesection mt-5">
    <div class="d-flex justify-content-center align-items-center flex-wrap mb-lg-5">
        <h1 class="page-heading">Lista pracowników</h1>
        <a href="{%url 'users_app:user-register'%}" role="button" class="btn ml-3 mr-1 my-2 btn-sm btn-success">Dodaj pracownika</a>
        <a href="{%url 'sickleaves_app:add-sickleave'%}" role="button" class="btn mx-1 my-2 btn-sm btn-info">Dodaj zwolnienie lekarskie</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Nazwisko i imię</th>
                    <th scope="col">Stanowisko</th>
                    <th scope="col" class="text-align-cl">K*</th>
                    <th scope="col" class="text-align-cl ml-1 mr-1">Urlop</th>
                    <th scope="col" class="text-align-cl">NŻ*</th>
                    <th scope="col" class="text-align-cl">WU*</th>
                    <th scope="col" class="text-align-cl">Etat</th>
                    <th scope="col" class="text-align-cl">Miejsce pracy</th>
                    <th scope="col" class="text-align-cl">Umowa do:</th>
                    <th scope="col" class="text-align-cl">Uwagi</th>
                    <th scope="col" class="text-align-cl">Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <td data-title="Lp.">{{ forloop.counter0|add:1 }}.</td>
                    <td data-title="Nazwisko i imię:">{{ employee.last_name}} {{employee.first_name}}</td>
                    <td data-title="Stanowisko:">{{ employee.position|truncatechars:30 }}</td>
                    <td data-title="Kierownik:" class="text-align-cl">{{ employee.is_manager }}</td>
                    <td data-title="Urlop:" class="text-align-cl">{{ employee.current_leave }}</td>
                    <td data-title="NŻ:" class="text-align-cl">{{ employee.duvet_days_count }}</td>
                    <td data-title="Wymiar urlopu:" class="text-align-cl">{{ employee.annual_leave }}</td>
                    <td data-title="Etat:" class="text-align-cl">{{ employee.working_hours }}</td>
                    <td data-title="Miejsce pracy:" class="text-align-cl">{{ employee.workplace }}</td>
                    <td data-title="Umowa do:" class="text-align-cl">{{ employee.contract_end|date:"d.m.y"}}</td>
                    <td data-title="Uwagi:" class="text-align-cl">{{ employee.additional_info|truncatechars:10 }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{%url 'users_app:update_employee' employee.id%}" class="btn btn-sm btn-warning" type="submit">Edytuj</a>
                            <button type="button" class="btn btn-light btn-sm text-danger" data-toggle="modal"
                                data-target="#deleteModal{{employee.id}}">✘</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{employee.id}}" tabindex="-1"
                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p class="modal-title">Ostrzeżenie</p>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Czy na pewno chcesz usunąć pracownika? <br>{{employee.first_name}}
                                            {{employee.last_name}} <br> UWAGA! Zostaną usunięte z bazy również jego
                                            wszystkie
                                            wnioski oraz zwolnienia lekarskie. <br> Możliwe alternatywne rozwiązanie:
                                            zmiana wartości ustawienia "Obecnie zatrudniony" w Edytuj. </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Wróć</button>
                                        <form method="POST" action="{% url 'users_app:delete_employee' employee.id %}">
                                            {%csrf_token%}
                                            <button type="submit" class="btn btn-info">Tak, usuń</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p class="px-1">*K - Kierownik placówki/działu (poza jednoosobowymi), *NŻ - liczba wykorzystanych dni urlopu na żądanie, *WU - roczny wymiar urlopu</p>
        <div class="search-info-box" style="background-color: #efefef;">
            <p class="mb-0">Aby na początku roku dodać jednocześnie wszystkim pracownikom roczny wymiar przysługującego urlopu do bieżącej puli urlopowej (Urlop = Urlop + WU): </p>
            <button type="button" class="btn btn-danger btn-sm m-2" data-toggle="modal"
                data-target="#addModal">Dodaj </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="addModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <p class="modal-title">Ostrzeżenie</p>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Czy na pewno chcesz dodać wszystkim pracownikom do bieżącej puli urlopowej liczbę dni/godzin rocznego przysługującego wymiaru urlopu?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Wróć</button>
                        <form method="POST" action="{% url 'users_app:add_annual_leave' %}">
                            {%csrf_token%}
                            <button type="submit" class="btn btn-info">Tak, dodaj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

</section>
<section class="pagesection w-100 mt-5 mb-5">
        <h2 class="page-heading mb-lg-5">Lista byłych pracowników</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Lp.</th>
                    <th scope="col">Nazwisko i imię</th>
                    <th scope="col">Stanowisko</th>
                    <th scope="col" class="text-align-cl ml-1 mr-1">Urlop</th>
                    <th scope="col" class="text-align-cl">Etat</th>
                    <th scope="col" class="text-align-cl">Miejsce pracy</th>
                    <th scope="col" class="text-align-cl">Umowa do:</th>
                    <th scope="col" class="text-align-cl">Uwagi</th>
                    <th scope="col" class="text-align-cl">Akcja</th>
                </tr>
            </thead>
            <tbody>
                {% for exemployee in exemployees %}
                <tr>
                    <td data-title="Lp.">{{ forloop.counter0|add:1 }}.</td>
                    <td data-title="Nazwisko i imię:">{{ exemployee.last_name}} {{exemployee.first_name}}</td>
                    <td data-title="Stanowisko:">{{ exemployee.position|truncatechars:30 }}</td>
                    <td data-title="Urlop:" class="text-align-cl">{{ exemployee.current_leave }}</td>
                    <td data-title="Etat:" class="text-align-cl">{{ exemployee.working_hours }}</td>
                    <td data-title="Miejsce pracy:" class="text-align-cl">{{ exemployee.workplace }}</td>
                    <td data-title="Umowa do:" class="text-align-cl">{{ exemployee.contract_end|date:"d.m.y"}}</td>
                    <td data-title="Uwagi:" class="text-align-cl">{{ exemployee.additional_info|truncatechars:30 }}</td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{%url 'users_app:update_employee' exemployee.id%}" class="btn btn-sm btn-warning" type="submit">Edytuj</a>
                            <button type="button" class="btn btn-light text-danger btn-sm" data-toggle="modal"
                                data-target="#deleteModal{{exemployee.id}}">✘</button>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{exemployee.id}}" tabindex="-1"
                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <p class="modal-title">Ostrzeżenie</p>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Czy na pewno chcesz usunąć pracownika? <br>{{exemployee.first_name}}
                                            {{exemployee.last_name}} <br> UWAGA! Zostaną usunięte z bazy również jego
                                            wszystkie
                                            wnioski oraz zwolnienia lekarskie. </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Wróć</button>
                                        <form method="POST" action="{% url 'users_app:delete_employee' exemployee.id %}">
                                            {%csrf_token%}
                                            <button type="submit" class="btn btn-info">Tak, usuń</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

</section>

{% endblock content %}