{% extends "base.html" %}
{% load  static %}

{% block content %}
{%include 'includes/navbar.html'%}
<section class="pagesection mt-5 mb-5">
    <div>
        <h1 class="pagesection__title">Pracownicy</h1>
        <form class="form-search filter-year-form search-info-box mt-4 mb-2 py-1" method="get">
            <div class="search-box mx-1">
                <label class="sr-only" for="lookup_fields">{{ filterset.form.lookup_fields.label }}</label>
                {{ filterset.form.lookup_fields }}
            </div>
            <button class="btn btn-violet ml-1 mr-2 my-1" type="submit">Szukaj</button>
        </form>
    </div>
    <table class="table table-striped" id="employees-list">
        <thead>
            <tr>
                <th scope="col">Lp.</th>
                <th scope="col">Nazwisko i imię</th>
                <th scope="col">Stanowisko</th>
                <th scope="col" class="text-align-cl">Dziś<span class="text-danger">*</span></th>
                <th scope="col" class="text-align-cl">Miejsce pracy</th>
                <th scope="col" class="text-align-cl">Etat</th>
                <th scope="col" class="text-align-cl">Umowa do:</th>
                <th scope="col">Inne</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in all_employees %}
            <tr>
                <td data-title="Lp.">{{ forloop.counter0|add:1 }}.</td>
                <td data-title="Nazwisko i imię:">{{ employee.last_name }} {{employee.first_name}}</td>
                <td data-title="Stanowisko:">{{ employee.position }}</td>
                <!-- place to inform if an employee is at work today: -->
                <td data-title="Dziś:" class="text-align-cl"> {{ employee.today_note }}</td>
                <td data-title="Miejsce pracy:" class="text-align-cl">{{ employee.workplace}}</td>
                <td data-title="Etat:" class="text-align-cl">{{ employee.working_hours }}</td>
                <td data-title="Umowa do:" class="text-align-cl">
                    {%if employee.contract_end %}{{ employee.contract_end|date:"d.m.y" }} {%endif%}</td>
                <td> {{ employee.additional_info }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div><p><span class="text-danger">*</span> ✓ - w pracy, W - urlop, WS/WN - wolne za
        pracę w sob./nd, DW - wolne za święto przypadające w sob., C - chorobowe, O - opieka, K -
        kwarantanna, I - izolacja</p>
    </div>
</section>
{% endblock content %}