{% extends 'base_login.html'%}
{% load static %}

{% block content %}
 
    <main>
        <div class="login">
            <h2>Twoje hasło zostało zmienione.</h2>
            <p>Możesz się teraz zalogować: </p>
            <br>
            <a class="password-link" href="{% url 'users_app:user-login' %}">Login</a>
       
        </div>
        <div class="logo">
            <a href="https://mbp.opole.pl/"><img src="../static/img/mbp_logo.png"></a>
        </div>
    </main>
{% endblock content %}