{% extends 'base_login.html'%}
{% load static %}

{% block content %}
  
   
    <main>
        <div class ="container">
          
            <h2>Potwierdzenie zresetowania hasła zostało wysłane</h2>
            <p> Instrukcja pozwalająca ustawić nowe hasło dla podanego adresu e-mail została wysłana. Niebawem powinna się pojawić na twoim koncie pocztowym.</p>
                
            <p>W przypadku nieotrzymania wiadomości e-mail: upewnij się czy adres wprowadzony jest zgodny z tym podanym podczas rejestracji i sprawdź zawartość folderu SPAM na swoim koncie.</p>
    
        </div>
        </div>

    </main>

{% endblock content %}