{% extends 'base_login.html'%}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
    <main>
        <div class ="container">
            <p style="font-size: 1.5rem;">Nie pamiętasz swojego hasła? Wprowadź w poniższym polu swój adres e-mail, a wyślemy ci instrukcję opisującą sposób ustawienia nowego hasła.</p>
            <div class="form-group row">
                <form method="POST"> {%csrf_token%}
                    <div class="col">
                        {{form.email|as_crispy_field}}
                    </div>
                    <div class="col">
                        <button class = "btn btn-sm btn-light" type="submit">Wyślij</button>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}