{% extends 'base_login.html'%}
{% load static %}

{% block content %}

<main>
    <div class="login mt-5">
        <form method="post">{%csrf_token%}
            <div class="login-form">
                <div>
                    <div class="text-danger">
                        {% for message in messages %}
                        {{ message }}
                        {% endfor %}
                    </div>
                    <p class="login-input"><i class="fa fa-lock"></i>{{form.password1}}</p>
                    <p class="login-input"><i class="fa fa-lock"></i>{{form.password2}}</p>
                    <p class="login-input"><i class="fa fa-lock"></i>{{form.password3}}</p>
                </div>
                <div class="buttons">
                    <button type="submit">Zmień hasło</button>
                </div>
            </div>
        </form>
    </div>
    <div class="logo">
        <a href="https://mbp.opole.pl/"><img src="{% static 'img/mbp_logo.png' %}" alt="logo"></a>
    </div>
</main>

{% endblock content %}