{% extends "base.html" %}
{% load  static %}

{% block content %}
{%include 'includes/navbar.html'%}

<main>
    <section class="page-section" id="to_accept">
        <div class="listing requests">
            <h4 class="table-title">Wnioski otrzymane do zaopiniowania</h4>
            <div class="main-table">
                <table class="js-serial" id="wnioski-table">
                    <thead>
                        <tr>
                            <th scope="col">Data złożenia</th>
                            <th scope="col">Nazwisko i imię</th>
                            <th scope="col" class="content-center">Od</th>
                            <th scope="col" class="content-center">Do</th>
                            <th scope="col">Liczba dni<span class="text-danger">*</span></th>
                            <th scope="col">Rodzaj<span class="text-danger">**</span></th>
                            <th scope="col">Za pracę dnia</th>
                            <th scope="col">Zastępuje</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in requests_received %}
                        <tr>
                            <td data-title="Data złożenia:" class="content-center">{{request.created|date:"d.m.y"}}</td>
                            <td data-title="Nazwisko i imię:">{{request.author.last_name}} {{request.author.first_name}}
                                {{request.author.position_addinfo}}</td>
                            <td data-title="Od:">{{request.start_date|date:"d.m.y"}}</td>
                            <td data-title="Do:">{{request.end_date|date:"d.m.y"}}</td>
                            <td data-title="Liczba dni:" class="content-center">
                                {%if request.type == 'W'%}{{request.days}}{%endif%}</td>
                            <td data-title="Rodzaj">{{request.type}}</td>
                            <td data-title="Za pracę dnia:">{{request.work_date|date:"d.m.y"}}</td>
                            <td data-title="Zastępuje:">{{request.substitute}}</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <form method="POST" action="{% url 'requests_app:accept_request' request.id %}">
                                        {%csrf_token%}
                                        <button class="btn btn-sm btn-success mr-1" type="submit">Zaakceptuj</button>
                                    </form>
                                    <form method="POST" action="{% url 'requests_app:reject_request' request.id %}">
                                        {%csrf_token%}
                                        <button class="btn btn-sm btn-danger mr-1" type="submit">Odrzuć</button>
                                    </form>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if no_request %}
            <p class="mt-4 mb-4">Brak wniosków otrzymanych do zaopiniowania.</p>
            {% endif %}
            <div><span class="text-danger">*</span> Liczba godzin w przypadku osób zatrudnionych w niepełnym wymiarze
                czasu pracy.
                <br>
                <span class="text-danger">**</span> W - urlop wypoczynkowy, WS/WN - wolne za pracę w sobotę/niedzielę,
                DW - wolne za święto przypadające w sobotę
            </div>
        </div>
    </section>

    <section class="page-section" id="holiday">
        <div class="listing requests">
            <div>
                <h4 class="table-title">Wnioski urlopowe pracowników</h4>
                {%if showall_holiday %}<h6 class="text-center">
                    <a href="{% url 'requests_app:allholidayrequests'%}">Zobacz wszystkie</a></h6>{% endif %}
                <input class="form-control search" id="myInput" type="text" onkeyup="search()"
                    placeholder="Wyszukaj...">
            </div>
            <div class="main-table">
                <table class="js-serial">
                    <thead>
                        <tr>
                            <th scope="col">Data złożenia</th>
                            <th scope="col">Nazwisko i imię</th>
                            <th class="content-center" scope="col">Od</th>
                            <th class="content-center" scope="col">Do</th>
                            <th scope="col">Liczba dni<span class="text-danger">*</span></th>
                            <th scope="col">Zastępuje</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody class="myTable" id="myTable">
                        {% for request in requests_holiday %}
                        <tr>
                            <td data-title="Data złożenia:" class="content-center">{{request.created|date:"d.m.y"}}</td>
                            <td data-title="Nazwisko i imię:">{{request.author.last_name}}
                                {{request.author.first_name}} {{request.author.position_addinfo}}
                            </td>
                            <td data-title="Od:">{{request.start_date|date:"d.m.y"}}</td>
                            <td data-title="Do:">{{request.end_date|date:"d.m.y"}}</td>
                            <td data-title="Liczba dni:" class="content-center">{{request.days}}</td>
                            <td data-title="Zastępuje:">{{request.substitute}}</td>
                            <td>
                                {% if request.status == 'oczekujący'%}
                                <div class="btn-group btn-group-sm">
                                    <form method="POST" action="{% url 'requests_app:accept_request' request.id %}">
                                        {%csrf_token%}
                                        <button class="btn btn-sm btn-success mr-1" type="submit">Zaakceptuj</button>
                                    </form>
                                    <form method="POST" action="{% url 'requests_app:reject_request' request.id %}">
                                        {%csrf_token%}
                                        <button class="btn btn-sm btn-danger mr-1" type="submit">Odrzuć</button>
                                    </form>
                                </div>
                                {% elif request.status == 'zaakceptowany' or request.status == 'odrzucony' %}
                                {{request.status}} {{request.signed_by}}
                                {%else%}
                                {{request.status}}
                                {%endif%}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div><span class="text-danger">*</span> Liczba godzin w przypadku osób zatrudnionych w niepełnym wymiarze
                czasu pracy.
            </div>
        </div>
    </section>

    <section class="page-section" id="saturday">
        <div class="listing requests">
            <div>
                <h4 class="table-title">Wnioski pracowników o dni wolne za pracę w soboty/niedziele, inne</h4>
                {%if showall_other %}<h6 class="text-center">
                    <a href="{% url 'requests_app:allotherrequests'%}">Zobacz wszystkie</a></h6> {%endif%}
                <input class="form-control search" id="myInput2" type="text" onkeyup="search2()"
                    placeholder="Wyszukaj...">
            </div>
            <div class="main-table">
                <table class="js-serial">
                    <thead>
                        <tr>
                            <th scope="col">Data złożenia</th>
                            <th class="content-center" scope="col">Nazwisko i imię</th>
                            <th class="content-center" scope="col">Na dzień</th>
                            <th scope="col">Rodzaj</th>
                            <th scope="col">Za pracę dnia</th>
                            <th scope="col">Zastępuje</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody class="myTable2" id="myTable2">
                        <tr>
                            {%for request in requests_other%}
                            <td data-title="Data złożenia:" class="search content-center">
                                {{request.created|date:"d.m.y"}}
                            </td>
                            <td data-title="Nazwisko i imię:">{{request.author.last_name}}
                                {{request.author.first_name}} {{request.author.position_addinfo}}
                            </td>
                            <td data-title="Od:" class="search">{{request.start_date|date:"d.m.y"}}</td>
                            <td data-title="Do:" class="content-center">{{request.type}}</td>
                            <td data-title="Za pracę dnia:" class="content-center">{{request.work_date|date:"d.m.y"}}
                            </td>
                            <td data-title="Zastępuje:">{{request.substitute}}</td>
                            <td id="action_other">
                                {% if request.status == 'oczekujący'%}
                                <div class="btn-group btn-group-sm">
                                    <form method="POST" action="{% url 'requests_app:accept_request' request.id %}">
                                        {%csrf_token%}
                                        <button class="btn btn-sm btn-success mr-1" type="submit">Zaakceptuj</button>
                                    </form>
                                    <form method="POST" action="{% url 'requests_app:reject_request' request.id %}">
                                        {%csrf_token%}
                                        <button class="btn btn-sm btn-danger mr-1" type="submit">Odrzuć</button>
                                    </form>
                                </div>
                                {% elif request.status == 'zaakceptowany' or request.status == 'odrzucony' %}
                                {{request.status}} {{request.signed_by}}
                                {%else%}
                                {{request.status}}
                                {%endif%}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        </div>
    </section>
</main>

{% endblock content %}