{% extends "base.html" %}
{% load  static %}

{% block content %}
{% include 'includes/navbar.html'%}
{% load crispy_forms_tags %}

<div class="container p-3">
    {% for message in messages %}
    <div class="alert {{ message.tags }}" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    <h1 class="page-heading mt-5 mb-5"> Zmiana wniosku o udzielenie urlopu / dnia wolnego</h1>
    <form action=""  method="POST" enctype="multipart/form-data" autocomplete="off">{%csrf_token%}
        <div class="form-group row">
            <label for="person" class="col-lg-2 col-md-3 col-form-label font-weight-bold">Złożony przez:</label>
            <div class="col">
                <input type="text" readonly class="form-control-plaintext" id="person" value="{{request.author.get_full_name}} -  {{request.author.position}} ">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-3">
                <p class="font-weight-bold ">Wnioskowano o:</p>
            </div>
            <div class="col">
                <div class="form-check">
                    <input class="form-check-input active" type="radio" name="leave_type" id="id_leave_type_0" value="W" {% if request.leave_type == 'W' %} checked {% endif %}>
                    <label class="form-check-label" for="id_leave_type_0"> Urlop wypoczynkowy (W) </label>
                </div>
                <div class="form-check">
                    <div class="row">
                        <div class="col">
                            <input class="form-check-input" type="radio" name="leave_type" id="id_leave_type_1" value="WS" {% if request.leave_type == 'WS' %} checked {% endif %}>
                            <label class="form-check-label" for="id_leave_type_1"> Wolne za pracę w wolną sobotę
                                (WS)<span class="text-danger">*</span> </label>
                        </div>
                    </div>
                </div>
                <div class="form-check ">
                    <input class="form-check-input" type="radio" name="leave_type" id="id_leave_type_2" value="WN" {% if request.leave_type == 'WN' %} checked {% endif %}>
                    <label class="form-check-label" for="id_leave_type_2"> Wolne za pracę w niedzielę/święto
                        (WN)<span class="text-danger">*</span> </label>
                </div>
                <div class="form-check ">
                    <input class="form-check-input" type="radio" name="leave_type" id="id_leave_type_3" value="DW" {% if request.leave_type == 'DW' %} checked {% endif %}>
                    <label class="form-check-label " for="id_leave_type_3"> Wolne za święto przypadające w wolną sobotę
                        (DW) </label>
                </div>

                <div class="form-group row box_ws hide">

                    <label class="col-lg-3 col-form-label">* Praca miała miejsce w dniu:</label>
                    <div class="col-lg-6">
                        {{form.work_date|as_crispy_field}}
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row mt-2">

            <label class="col-lg-2 col-md-3 col-form-label font-weight-bold">Na okres:</label>
            <div class="input-group col-lg-6 col-md-9" id="d">
                {{form.start_date|as_crispy_field}}
                <span class="input-group-addon ml-2 mr-2">do</span>
                {{form.end_date|as_crispy_field}}</div>

        </div>
        <div class="form-group row box_w">
            <label for="number_days" class="col-lg-2 col-md-3 col-form-label font-weight-bold">W wymiarze:</label>

            <div class="col col-lg-2 col-md-2 col-sm-2">
                {{form.days|as_crispy_field}}
            </div>
            <div class="col">
                <label class="col-form-label">{%if part%}godzin{%else%}dni roboczych{%endif%}</label></div>
            <div class="col col-lg-6">
                <p class="text-danger">Uwaga! W przypadku zmiany liczby dni (godzin) udzielonego urlopu pamiętaj o zmianie wymiaru bieżącego urlopu pracownika.</p>
            </div>
            <label for="duvet-day" class="col-lg-2 col-md-3 col-form-label font-weight-bold">Na żądanie:</label>
            <div class="col col-lg-2 col-md-2 col-sm-2">
                {{form.duvet_day|as_crispy_field}}
            </div>
        </div>
        <div class="form-group row">
            <label for="substitute" class="col-lg-2 col-md-3 col-form-label font-weight-bold">Zastępstwo:</label>
            <div class="col">
                {{form.substitute|as_crispy_field}}
            </div>
        </div>

        <div class="form-group row">
            <label class="col-lg-2 col-md-3 col-form-label font-weight-bold">Wysłano do:</label>
            <div class="col">
                {{form.send_to_person|as_crispy_field}}
            </div>
        </div>
        <div class="form-group row">
            <label for="status" class="col-lg-2 col-md-3 col-form-label font-weight-bold">Status:</label>
            <div class="col">
                <input type="text" name="status" id="id_status" class="textinput textInput form-control" value="{{request.status}}">
            </div>
        </div>

        <div class="form-group row">
            <label for="signed_by" class="col-lg-2 col-md-3 col-form-label font-weight-bold">Zaopiniowany przez:</label>
            <div class="col">
                <input type="text" readonly class="form-control-plaintext" id="signed_by" value="{{request.signed_by}}">
            </div>
        </div>
        <hr class="mt-5 mb-5">

        <div class="form-group row">
            <label for="history_change_reason" class="col-lg-3 col-md-3 col-form-label font-weight-bold">Podaj powód zmiany:</label>
            <div class="col">
                <input type="text" name="history_change_reason" id="id_history_change_reason" class="textinput textInput font-italic form-control" placeholder="Ostatnio: {{history_changereason}}">
            </div>
        </div>
        <div>
            <p class="font-weight-bold">Załącznik (pdf, jpg, png): </p>
            {{form.attachment|as_crispy_field}}
        </div>
        <div class="form-group row float-right">
            <div>
                <a href="{% url 'requests_app:hrallrequests'%}" role="button" class="btn btn-light btn-md float-right mt-3 mb-3 mr-2">Wróć</a>
            </div>
            <div class>
                <button type="submit" value="Update" class="btn btn-info btn-md float-right mt-3 mr-2 mb-3">Dokonaj zmiany we wniosku</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}
{% block extra_js %}
    <script src="{% static 'js/fillin-request.js' %}"></script>
{% endblock extra_js %}