{% extends "base.html" %}
{% load  static %}

{% block content %}
{%include 'includes/navbar.html'%}


<main>
    <section class="page-section" id="holiday">
        <div class="listing mt-4">
            <div>
                <h4 class="table-title">Wnioski urlopowe pracowników</h4>
                <input class="form-control search" id="myInput" type="text" onkeyup="search()"
                    placeholder="Wyszukaj...">
            </div>
            <div class="main-table">
                <table class="js-serial">
                    <thead>
                        <tr>
                            <th scope="col">Data złożenia</th>
                            <th scope="col">Nazwisko i imię</th>
                            <th class="content-center" scope="col">Od</th>
                            <th class="content-center" scope="col">Do</th>
                            <th scope="col">Liczba dni<span class="text-danger">*</span></th>
                            <th scope="col">Zastępuje</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody class="myTable" id="myTable">
                        {% for request in requests_holiday %}
                        <tr>
                            <td data-title="Data złożenia:" class="content-center">{{request.created|date:"d.m.y"}}</td>
                            <td data-title="Nazwisko i imię:">{{request.author.last_name}}
                                {{request.author.first_name}} {{request.author.position_addinfo}}
                            </td>
                            <td data-title="Od:">{{request.start_date|date:"d.m.y"}}</td>
                            <td data-title="Do:">{{request.end_date|date:"d.m.y"}}</td>
                            <td data-title="Liczba dni:" class="content-center">{{request.days}}</td>
                            <td data-title="Zastępuje:">{{request.substitute}}</td>
                            <td>
                                {{request.status}} {{request.signed_by}}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div><span class="text-danger">*</span> Liczba godzin w przypadku osób zatrudnionych w niepełnym wymiarze
                czasu pracy.
            </div>

        </div>
    </section>

    <section class="page-section" id="saturday">
        <div class="listing requests">
            <div>
                <h4 class="table-title">Wnioski pracowników o dni wolne za pracę w soboty/niedziele, inne</h4>
                <input class="form-control search" id="myInput2" type="text" onkeyup="search2()"
                    placeholder="Wyszukaj...">
            </div>
            <div class="main-table">
                <table class="js-serial">
                    <thead>
                        <tr>
                            <th scope="col">Data złożenia</th>
                            <th class="content-center" scope="col">Nazwisko i imię</th>
                            <th class="content-center" scope="col">Na dzień</th>
                            <th scope="col">Rodzaj</th>
                            <th scope="col">Za pracę dnia</th>
                            <th scope="col">Zastępuje</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody class="myTable2" id="myTable2">
                        <tr>
                            {%for request in requests_other%}
                            <td data-title="Data złożenia:" class="search content-center">
                                {{request.created|date:"d.m.y"}}
                            </td>
                            <td data-title="Nazwisko i imię:">{{request.author.last_name}}
                                {{request.author.first_name}} {{request.author.position_addinfo}}
                            </td>
                            <td data-title="Od:" class="search">{{request.start_date|date:"d.m.y"}}</td>
                            <td data-title="Do:" class="content-center">{{request.type}}</td>
                            <td data-title="Za pracę dnia:" class="content-center">{{request.work_date|date:"d.m.y"}}
                            </td>
                            <td data-title="Zastępuje:">{{request.substitute}}</td>
                            <td id="action_other">
                                {{request.status}} {{request.signed_by}}
                            </td>

                        </tr>

                        {% endfor %}
                    </tbody>


                </table>
            </div>
        </div>
        </div>
    </section>

</main>


{% endblock content %}