{% extends "base.html" %}
{% load  static %}

{% block content %}
{%include 'includes/navbar.html'%}
<main>
    <section class="page-section">
        <div class="all_employees_list mt-5">
            <h4 class="table-title">Twoje wnioski urlopowe</h4>
            <table class="js-serial">
                <thead>
                    <tr>
                        <th scope="col">Data złożenia</th>
                        <th scope="col">Nazwisko i imię</th>
                        <th class="content-center" scope="col">Od</th>
                        <th class="content-center" scope="col">Do</th>
                        <th scope="col" class="content-center">Liczba {% if user.working_hours < 1 %}godzin {%else%}dni
                            {%endif%}</th>
                        <th scope="col">Zastępujący</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in user_requests_holiday %}
                    <tr>
                        <td class="content-center" data-title="Data złożenia:">{{request.created|date:"d.m.y"}}</td>
                        <td data-title="Nazwisko i imię:">{{request.author.first_name}} {{request.author.last_name}}
                        </td>

                        <td class="content-center" data-title="Od:">{{request.start_date|date:"d.m.y"}}</td>
                        <td class="content-center" data-title="Do:">{{request.end_date|date:"d.m.y"}}</td>
                        <td data-title="Liczba dni:" class="content-center">{{ request.days}}</td>
                        <td data-title="Zastępuje:">{{request.substitute}}</td>
                        <td data-title="Status:">{{request.status}}</td>
                        {% if request.status == "oczekujący" %}
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                data-target="#deleteModal{{request.id}}">
                                Wycofaj
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{request.id}}" tabindex="-1"
                                aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Ostrzeżenie</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Czy na pewno chcesz wycofać wniosek <br> od
                                                {{request.start_date|date:"d.m.y"}} do
                                                {{request.end_date|date:"d.m.y"}}?
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-dismiss="modal">Wróć</button>
                                            <form method="POST"
                                                action="{% url 'requests_app:delete_request' request.id %}">
                                                {%csrf_token%}
                                                <button type="submit" class="btn btn-info">Tak, wycofuję.</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                        {%else%}
                        <td>przez {{request.signed_by}}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <section class="page-section">
        <div class="all_employees_list mt-3">
            <h4 class="table-title">Twoje wnioski o dni wolne za pracę w soboty/niedziele/święta</h4>
            <table class="js-serial">
                <thead>
                    <tr>
                        <th class="content-center"scope="col">Data złożenia</th>
                        <th scope="col">Nazwisko i imię</th>
                        <th class="content-center" scope="col">Od</th>
                        <th class="content-center" scope="col">Do</th>
                        <th class="content-center" scope="col">Rodzaj</th>
                        <th scope="col">Za pracę dnia</th>
                        <th scope="col">Zastępujący</th>
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for request in user_requests_other %}
                    <tr>
                        <td class="content-center" data-title="Data złożenia:">{{request.created|date:"d.m.y"}}</td>
                        <td data-title="Nazwisko i imię:">{{request.author.first_name}} {{request.author.last_name}}
                        </td>

                        <td class="content-center" data-title="Od:">{{request.start_date|date:"d.m.y"}}</td>
                        <td class="content-center" data-title="Do:">{{request.end_date|date:"d.m.y"}}</td>
                        <td class="content-center" data-title="Rodzaj:">{{request.type}}</td>
                        <td class="content-center" data-title="Za pracę dnia:">{{request.work_date|date:"d.m.y"}}</td>
                        <td data-title="Zastępuje:">{{request.substitute}}</td>
                        <td data-title="Status:">{{request.status}}</td>
                        {% if request.status == "oczekujący" %}
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                data-target="#deleteModal{{request.id}}">
                                Wycofaj
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="deleteModal{{request.id}}" tabindex="-1"
                                aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Ostrzeżenie</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Czy na pewno chcesz wycofać wniosek <br> od
                                                {{request.start_date|date:"d.m.y"}} do
                                                {{request.end_date|date:"d.m.y"}}?
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-light"
                                                data-dismiss="modal">Wróć</button>
                                            <form method="POST"
                                                action="{% url 'requests_app:delete_request' request.id %}">
                                                {%csrf_token%}
                                                <button type="submit" class="btn btn-info">Tak, wycofuję.</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                        {%else%}
                        <td>przez {{request.signed_by}}</td>
                        {% endif %}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </section>
</main>
{% endblock content %}