{% extends "base.html" %}
{% load static filter_tags %}
{% block content %}
{% include 'includes/navbar.html'%}
<main>
    <section class="pagesection page-scroll-fix" id="user-requests-holiday">
        <a href="#user-requests-other" class="circle-link circle-link--1">
            <i class="bi bi-arrow-down-circle" title="Przejdź do pozostałych wniosków"></i></a>
            <table class="table">
                <caption class="table-caption mt-5">Twoje wnioski urlopowe</caption>
                <thead>
                    <tr>
                        <th scope="col">Lp.</th>
                        <th scope="col">Z dnia</th>
                        <th scope="col">Nazwisko i imię</th>
                        <th scope="col">Okres</th>
                        <th scope="col">
                            L. {% if user.working_hours < 1 %}godzin {%else%}dni {%endif%} </th>
                        {% if request.user.role == "K" or request.user.role == "S" %}<th scope="col">Zastępuje</th>{% endif %}
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for leave_request in user_requests_holiday %}
                    <tr>
                        <td data-title="Lp.">
                            {{ forloop.counter0|add:user_requests_holiday.start_index }}.
                        </td>
                        <td data-title="Złożony:">
                            {{leave_request.created|date:"d.m.y"}}
                        </td>
                        <td data-title="Nazwisko i imię:">
                            {{leave_request.author.first_name}}
                            {{leave_request.author.last_name}}
                        </td>

                        <td data-title="Okres:">
                            {{leave_request.start_date|date:"d.m.y"}}{% if leave_request.start_date != leave_request.end_date %}- {{leave_request.end_date|date:"d.m.y"}}{% endif %}
                            {% if leave_request.duvet_day == 1 %}(nż<span class="text-danger">*</span>){% endif %}
                        </td>
                        <td data-title="L. dni:">
                            {{ leave_request.days}}
                        </td>
                        {% if request.user.role == "K" or request.user.role == "S" %}<td data-title="Zastępuje:">{{leave_request.substitute}}</td>{% endif %}
                        <td data-title="Status:">{{leave_request.status}}</td>
                        {% if leave_request.status == "oczekujący" %}
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                data-target="#deleteModal{{leave_request.id}}">
                                Wycofaj
                            </button>
                            {% include 'includes/delete_modal.html' %}
                        </td>
                        {% elif leave_request.status == "zaakceptowany" or leave_request.status == "odrzucony" %}
                        <td class="table-last-row">przez {{leave_request.signed_by}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div>
                <p class="px-1"><span class="text-danger">*</span> urlop na żądanie</p>
            </div>
        {% if user_requests_holiday %}
            {% include 'includes/pagination.html' with page_obj=user_requests_holiday id="user-requests-holiday" %}
        {% endif %}
    </section>
    <section class="pagesection page-scroll-fix mb-3" id="user-requests-other">
        <a href="#user-requests-holiday" class="circle-link circle-link--2">
            <i class="bi bi-arrow-up-circle" title="Przejdź do wniosków urlopowych"></i></a>
            <table class="table">
                <caption class="table-caption">Twoje wnioski o dni wolne za pracę w soboty/inne</caption>
                <thead>
                    <tr>
                        <th scope="col">Lp.</th>
                        <th scope="col">Z dnia</th>
                        <th scope="col">Nazwisko i imię</th>
                        <th scope="col">Okres</th>
                        <th scope="col">Rodzaj</th>
                        <th scope="col">Za pracę dnia</th>
                        {% if request.user.role == "K" or request.user.role == "S" %}<th scope="col">Zastępujący</th>{% endif %}
                        <th scope="col">Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for leave_request in user_requests_other %}
                    <tr>
                        <td class="content-center" data-title="Lp.">
                            {{ forloop.counter0|add:user_requests_other.start_index }}.
                        </td>
                        <td class="content-center" data-title="Z dnia:">
                            {{leave_request.created|date:"d.m.y"}}
                        </td>
                        <td data-title="Nazwisko i imię:">
                            {{leave_request.author.first_name}}
                            {{leave_request.author.last_name}}
                        </td>
                        <td class="content-center" data-title="Okres:">
                            {{leave_request.start_date|date:"d.m.y"}}
                        </td>
                        <td class="content-center" data-title="Rodzaj:">
                            {{leave_request.leave_type}}
                        </td>
                        <td class="content-center" data-title="Za pracę dnia:">
                            {{leave_request.work_date|date:"d.m.y"}}
                        </td>
                        {% if request.user.role == "K" or request.user.role == "S" %}<td data-title="Zastępuje:">{{leave_request.substitute}}</td>{% endif %}
                        <td data-title="Status:">{{leave_request.status}}</td>
                        {% if leave_request.status == "oczekujący" %}
                        <td>
                            <button type="button" class="btn btn-warning btn-sm" data-toggle="modal"
                                data-target="#deleteModal{{leave_request.id}}">
                                Wycofaj
                            </button>
                            {% include 'includes/delete_modal.html' %}
                        </td>
                        {% elif leave_request.status == "zaakceptowany" or leave_request.status == "odrzucony" %}
                        <td class="table-last-row">przez {{leave_request.signed_by}}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        {% if user_requests_other %}
            {% include 'includes/pagination2.html' with page_obj2=user_requests_other id="user-requests-other" %}
        {% endif %}
    </section>
</main>
{% endblock content %}
